:root {
  --trueBlack: rgba(0, 0, 0, 0.75);
  --black: rgba(51, 51, 51, 1);
  --white: rgba(246, 246, 246, 1);
  --accent: rgba(223, 34, 97, 1);
  --3d-effect: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.15)
  );
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-weight: unset;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  letter-spacing: 0.4px;
  color: var(--black);
}

body {
  max-width: 90vw;
  margin: auto;
  color: var(--black);
  background-color: var(--white);
}

h1 {
  background-color: var(--accent);
  color: var(--white);
  width: 100vw;
  margin: 0 -5vw 0.25em;
  padding: 1em 5vw;
  background-image: var(--3d-effect);
}

main {
  margin: 2em 0 0;
}

form {
  display: flex;
  gap: 1em;
  margin: 2em 0;
}

.songs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2em;
  margin: 2em 0 0 -5vw;
  width: calc(100% + 10vw);
  background-color: var(--black);
  padding: 3em 0;

  article {
    padding: 1em;
    border-radius: 0.5em;
    margin: auto;
    background-color: var(--white);
    box-shadow: 0px 0px 24px 2px var(--trueBlack);
    background-image: var(--3d-effect);
  }

  .thumb-count {
    margin: 8px 0 4px;
  }

  .message-date {
    font-size: small;
    font-style: italic;
  }
}

input {
  height: 37px;
}

input,
button,
.button {
  padding: 0.5rem;
  border-radius: 4px;
  font-size: unset;
  border: 0.5px solid var(--black);
}

button,
.button {
  display: inline-flex;
  border: none;
  cursor: pointer;
  background-color: var(--accent);
  color: var(--white);
  transform: scale(1);
  font-weight: 600;
  background-image: var(--3d-effect);
  text-decoration: none;
  width: max-content;
}

button:hover,
.button:hover,
a:hover {
  opacity: 0.8;
}

button:focus,
.button:focus {
  transform: scale(0.98);
}

input:focus {
  outline: none;
  border-color: var(--accent);
  box-shadow: 0 0 6px var(--accent);
}

footer {
  display: flex;
  justify-content: end;
  background-image: var(--3d-effect);
  margin-left: -10vw;
  width: calc(100% + 15vw);

  a {
    text-decoration: none;
    margin-right: 2em;
  }

  span {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 4px;
    margin: 2em 0;
  }

  img {
    width: 20px;
  }
}

@media screen and (max-width: 1100px) {
  .songs {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  body {
    max-width: 80vw;
  }

  h1 {
    margin: 0 -10vw 0.25em;
    padding: 1em 7.5vw;
  }

  form {
    flex-direction: column;
  }

  .songs {
    grid-template-columns: 1fr;
    width: calc(100% + 20vw);
    margin-left: -10vw;
  }
}
