:root {
  --black: rgba(51, 51, 51, 1);
  --white: rgba(246, 246, 246, 1);
  --accent: rgba(250, 128, 114, 1);
  --3d-effect: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.15)
  );
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-weight: unset;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  letter-spacing: 0.4px;
  color: var(--black);
}

body {
  max-width: 90vw;
  margin: auto;
  color: var(--black);
  background-color: var(--white);
  padding-bottom: 4em;
}

h1 {
  background-color: var(--accent);
  color: var(--white);
  width: 100vw;
  margin: 0 -5vw 0.25em;
  padding: 1em 5vw;
  background-image: var(--3d-effect);
}

.messages {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2em;
  list-style: none;
  margin: 2em 0;

  li {
    padding: 0.5em;
    border-radius: 0.5em;
    box-shadow: 0 0 8px var(--black);
    margin: auto;
  }

  .hidden {
    visibility: none;
  }
}

p {
  margin: 0;
}

main {
  margin: 2em;
}

form {
  display: flex;
  gap: 1em;
  margin: 2em 0;
}

form center {
  justify-content: center;
  align-items: center;
}

input,
button,
.button {
  padding: 0.5rem;
  border: 0.5px solid var(--black);
  border-radius: 4px;
  font-size: unset;
}

input {
  height: 37px;
}

button,
.button {
  display: inline-flex;
  border: none;
  cursor: pointer;
  background-color: var(--accent);
  color: var(--white);
  transform: scale(1);
  font-weight: 600;
  background-image: var(--3d-effect);
  text-decoration: none;
  width: max-content;
}

button:hover,
.button:hover,
a:hover {
  opacity: 0.8;
}

button:focus,
.button:focus {
  transform: scale(0.98);
}

input:focus,
select:focus {
  outline: none;
  border-color: var(--accent);
  box-shadow: 0 0 6px var(--accent);
}

@media screen and (max-width: 1100px) {
  body {
    max-width: 90vw;
  }

  h1 {
    margin: 0 -5vw 0.25em;
    padding: 1em 5vw;
  }

  .messages {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  main {
    margin: 2em 0;
  }

  form {
    flex-direction: column;
  }

  .messages {
    grid-template-columns: 1fr;
  }
}
